@using ZCJT.Web;
@using ZCJT.Common;
@using ZCJT.Models.Sys;
@{
    ViewBag.Title = "机构订单查询";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}



<div class="mvctool">
    <form id="ddcxt-listquery-from">
        <table>
            <tr>
                <td>日期：</td>
                <td>
                    <input type="text" id="ddcx-date1" name="date1" style="width:100px;" class="Wdate" onfocus="WdatePicker({'dateFmt':'yyyy-MM-dd' })" />  -
                    <input type="text" id="ddcx-date2" name="date2" class="Wdate" style="width:100px;" onfocus="WdatePicker({'dateFmt':'yyyy-MM-dd'})" />
                </td>
                <td style="padding-left:6px;">  客户名称：</td>
                <td>
                    @*<select class="easyui-combobox" name="state" style="width:120px;"></select>*@
                    <select id="ddcx-ddbh" name="khbh" class="easyui-combogrid" style="width:140px" data-options="
			     panelWidth: 300,
			     idField: 'bh',
		     	 textField: 'mc',
			     url : 'GetComboxZwwldw',
			     method: 'get',
                 editable:false,
			     columns: [[
				      {field:'bh',title:'编号',width:90},
				      {field:'mc',title:'名称',width:200}
			               ]],
			     fitColumns: true
		       "></select>
                </td>
                <td style="padding-left:4px;">  订单编号：</td>
                <td><input id="ddcx-txtddbh" name="ddbh" type="text" class="searchText" style="width:100px" /></td>
                <td>

                <td style="padding-left:4px;">  原料名称：</td>
                <td><input id="ddcx-txtwlmc" name="wlmc" type="text" class="searchText" style="width:80px" /></td>
                <td>
                <td style="padding-left:6px;">  完成情况：</td>
                <td><select id="ddcx-flag" name="flag" class="easyui-combox" style="width:100px"  ></select></td>

                <td>
                    @Html.ToolButton("btnQuery", "icon-search", "查询", true)
                    @*@Html.ToolButton("btnExport", "icon-export", "导出", true)*@
                    @Html.ToolButton("btnQueryReset", "icon-reload", "重置", true)
                    @*<a id="icon-export" href="#" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>*@
                </td>

            </tr>
            
        </table>
    </form>
    <div id="dropdown" style="width:100px; display:none;">
        <div data-options="iconCls:'icon-ext-xls'" suffix="xls" data-bind="click:downloadClick">Excel2003   </div>
        <div data-options="iconCls:'icon-page_excel'" suffix="xlsx" data-bind="click:downloadClick">Excel2007   </div>
        <div data-options="iconCls:'icon-ext-doc'" suffix="doc" data-bind="click:downloadClick">Word2003    </div>
    </div>
</div>
<table id="List"></table>

<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
<script type="text/javascript">

    $(function () {
        $('#List').datagrid({
            // url: '@Url.Action("GetXSDDCX_JG")',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'ddbh',
            sortOrder: 'desc',
            idField: 'id',
            pageSize: 30,
            pageList: [30, 60, 90],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            rownumbers: true,//行号
            columns: [[
                 { field: 'id', title: 'id', hidden: true, rowspan: 2 },
                 { field: 'ddbh', title: '订单编号', rowspan: 2 },
                 { field: 'ddkh', title: '订单客户', rowspan: 2 },
                 { field: 'ywrq', title: '下单时间', rowspan: 2 },
                 { field: 'jhrq', title: '交货日期', rowspan: 2 },
                 { field: 'wlmc', title: '物料名称', rowspan: 2 },
                 { field: 'ggxh', title: '规格型号', rowspan: 2 },
                 { field: 'ccts', title: '超储天数', rowspan: 2 },
                 { title: '定做数量', align: 'center', colspan: 3 },
                 { title: '生产数量', align: 'center', colspan: 3 },
                 { field: 'scqk', title: '生产情况', rowspan: 2 },
                 { field: 'ddrkrq', title: '订单入库日期', rowspan: 2 },
                 { title: '完成数量', align: 'center', colspan: 3 },
                 { field: 'wcqk', title: '完成情况', rowspan: 2 }, 
                 { title: '发出数量', align: 'center', colspan: 3 },
                 { field: 'fcqk', title: '发出情况', rowspan: 2 },
                 { field: 'fyrq', title: '发运日期', rowspan: 2 },
                 { field: 'fycph', title: '发运车牌号', rowspan: 2 },
                 { field: 'sjphone', title: '司机电话', rowspan: 2 },
                 { title: '库存数量', align: 'center', colspan: 3 },
                 { field: 'xsddmx_bz', title: '备注', rowspan: 2 }
            ], [
                 //定做数量开始
                 { field: 'ddsl_k', title: '整件(捆)' },
                 { field: 'ddsl_z', title: '散件(支)' },
                 { field: 'ddsl', title: '数量' },
                 //定做数量结束
                 //生产数量开始
                 { field: 'scsl_k', title: '整件(捆)' },
                 { field: 'scsl_z', title: '散件(支)' },
                 { field: 'scsl', title: '数量' },
                 //生产数量结束
                 //完成数量开始
                 { field: 'wcsl_k', title: '整件(捆)' },
                 { field: 'wcsl_z', title: '散件(支)' },
                 { field: 'wcsl', title: '数量' },
                 //完成数量结束
                 //发出数量开始
                 { field: 'fcsl_k', title: '整件(捆)' },
                 { field: 'fcsl_z', title: '散件(支)' },
                 { field: 'fcsl', title: '数量' },
                 //发出数量结束
                 //库存数量开始
                 { field: 'kcsl_k', title: '整件(捆)' },
                 { field: 'kcsl_z', title: '散件(支)' },
                 { field: 'kcsl', title: '数量' }
                 //库存数量结束            
            ]]
        });
    });
    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }
    $(function () {
        $("#btnExport").click(function () {
            //$("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/SysHelper/ReportControl'></iframe>");
            //$("#modalwindow").window({ title: '导出', width: 320, height: 200, iconCls: 'icon-add' }).window('open');
            //获取Datagride的列
            var rows = $('#List').datagrid('getRows');
            var columns = $("#List").datagrid("options").columns[0];
            debugger;


            var oXL = new ActiveXObject("Excel.Application"); //创建AX对象excel
            var oWB = oXL.Workbooks.Add(); //获取workbook对象
            var oSheet = oWB.ActiveSheet; //激活当前sheet
            //设置工作薄名称
            oSheet.name = "导出Excel报表";
            //设置表头
            debugger;
            for (var i = 0; i < columns.length; i++) {
                oSheet.Cells(1, i + 1).value = columns[i].title;
            }
            //设置内容部分
            for (var i = 0; i < rows.length; i++) {
                //动态获取每一行每一列的数据值
                for (var j = 0; j < columns.length; j++) {
                    oSheet.Cells(i + 2, j + 1).value = rows[i][columns[j].field];
                }
            }
            oXL.Visible = true; //设置excel可见属性
        });


        @*$("#btnQuery").click(function () {
            debugger;
            var date1 = $('#date1').val();
            if (date1 == null || date1 == "") {
                alert("请输入开始日期！");
            }

            var date2 = $('#date2').val();
            if (date2 == null || date2 == "") {
                alert("请输入结束日期！");
            }
            var ywy = $('#ywy').combogrid('getValue');
            if (ywy == null) {
                ywy = "";
            }
            var txtddbh = $("#txtddbh").val()
            if (txtddbh == null) {
                txtddbh = "";
            }
            debugger;
            //传入参数
            $('#List').datagrid({
                url: '@Url.Action("GetXSDDCX")?date1=' + encodeURI(date1) + "&date2=" + encodeURI(date2) + "&ywy=" + encodeURI(ywy)
                + "&txtddbh=" + encodeURI(txtddbh)
            });*@

        $("#btnQuery").click(function () {

            //序列化成object
            var queryJSON = $("#ddcxt-listquery-from").serializeJSON();
            //  $("#List").datagrid('load', queryJSON);

            $("#List").datagrid({
                url: '@Url.Action("GetXSDDCX_JG")',
                pageNumber: 1,
                queryParams: queryJSON
            });
        });


        $("#btnQueryReset").click(function () {
            //后加载的话，重置使用重置方法二

            //方法一
            $("#ddcxt-listquery-from").form("reset");
            //方法二
            //  $("#ddcxt-listquery-from")[0].reset();

            //重置方法一
            //重置方法一 开始
            //var queryJSON = $("#ddcxt-listquery-from").serializeJSON();
            //$("#List").datagrid('load', queryJSON);
            //重置方法一 结束

            //重置方法二
            $("#List").datagrid('loadData', { total: 0, rows: [] });

        });

        //查询时，注册回车事件 ALT+Q 查询，ALT+R 重置
        //  controlQueryAndResetByKey("btnQuery", "btnQueryReset");

    });

    var json = { "rows": [{ 'id': 1, 'name': '未完成' }, { 'id': 2, 'name': '未生产' }, { 'id': 3, 'name': '已生产完成未发' }, { 'id': 4, 'name': '已完成' }] }
    $("#ddcx-flag").combobox(
        {
            data: json.rows,
            valueField: 'id',
            textField: 'name',
            panelHeight: '40px'
        })
</script>

